.page-padding-2 {
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-vertical {
    padding-left: 0;
    padding-right: 0;
}

.padding-xlarge {
    padding: 1rem;
}

.footer5-1_top-wrapper {
    grid-column-gap: 8rem;
    grid-row-gap: 16rem;
    grid-template-rows: auto;
    grid-template-columns: 1.25fr .75fr 1fr 1fr 1fr;
    align-items: start;
    justify-items: start;
}

.w-layout-grid {
    grid-auto-columns: 1fr;
    display: grid;
}

.uui-styleguide_logotype-2 {
    flex: none;
    width: auto;
    max-width: 90%;
    height: 100%;
}

.text-weight-medium {
    font-weight: 500;
}

.footer5-1_link-list {
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
    align-items: flex-start;
    justify-items: start;
    display: flex;
}

.text-size-small {
    letter-spacing: normal;
    font-size: .875rem;
}

.padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.padding-medium {
    padding: 2rem;
}

.footer5-1_bottom-wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.text-color-gray400 {
    color: #98a2b3;
}

.text-size-small {
    letter-spacing: normal;
    font-size: .875rem;
}

.footer5-1_social-icons {
    grid-column-gap: 1.5rem;
    grid-row-gap: 0rem;
    white-space: normal;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: start;
    justify-items: start;
    display: grid;
}

.footer5-1_social-link {
    color: gray;
}

.text-color-gray900 {
    color: #101828;
}

.text-weight-bold {
    font-weight: 700;
}


.footer5-1_link {
    grid-column-gap: .5rem;
    color: #101828;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.uui-styleguide_logo {
    flex-wrap: nowrap;
    display: flex;
}

@media screen and (max-width: 767px){
.page-padding-2 {
    padding-left: 1rem;
    padding-right: 1rem;
}
}

@media screen and (max-width: 479px){
.footer5-1_top-wrapper {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
}
}

@media screen and (max-width: 767px){
.footer5-1_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
}
}

@media screen and (max-width: 991px){
.footer5-1_social-icons {
    margin-bottom: 1rem;
}
}